<div class="p-field p-md-6 mt-2 ml-2">
    <p-button 
        type="button" 
        (click)="load()" 
        label="Add Employee " 
        class="p-button-success" />
</div>

<p-table [value]="employees" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:10%" pSortableColumn="Id">Id</th>
            <th style="width:40%" pSortableColumn="Name">Name</th>
            <th style="width:10%" pSortableColumn="Salary" >Salary</th>
            <th style="width:20%" pSortableColumn="Department">Department</th>
            <th style="width:10%" pSortableColumn="City">City</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.city }}</td>
        </tr>
    </ng-template>
    </p-table>