<div *ngIf="this.errormsgs.length>0">
    <div *ngFor='let error of this.errormsgs' class="error">
        {{error}}
    </div>  
</div>
<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <p-button 
            pRipple 
            severity="success" 
            label="New Employee" 
            icon="pi pi-plus" 
            class="mr-2" 
            (click)="load()" />
    </ng-template>
</p-toolbar>
<p-table [value]="employees" sortField="id" [sortOrder]="-1" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <!-- <th style="width: 5%"></th> -->
            <th style="width:10%" pSortableColumn="id">Id <p-sortIcon field="id" /></th>
            <th style="width:25%" pSortableColumn="name">Name <p-sortIcon field="name" /></th>
            <th style="width:15%" pSortableColumn="salary" >Salary <p-sortIcon field="salary" /></th>
            <th style="width:10%" pSortableColumn="department">Department <p-sortIcon field="department" /></th>
            <th style="width:10%" pSortableColumn="city">City <p-sortIcon field="city" /></th>
            <th style="width:10%" >Action </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
        <tr>
            <!-- <td>
                <p-tableRadioButton [value]="employee" />
            </td> -->
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.salary | currency : 'USD' }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.city }}</td>
            <td>
                <p-button 
                    icon="p-button-icon pi pi-pencil" 
                    class="mr-2" 
                    [outlined]="true" 
                    severity="success" 
                    (click)="editEmployee(employee)" />
                <p-button 
                    icon="pi pi-trash" 
                    severity="danger" 
                    class="mr-2" 
                    [rounded]="true" 
                    [outlined]="true" 
                    (click)="deleteEmployee(employee)" />
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            Total there are {{ employees ? employees.length : 0 }} employees.
        </div>
    </ng-template>
    </p-table>

    <p-dialog 
    [(visible)]="employeeDialog" 
    [style]="{ width: '450px' }" 
    header="Employee Details" 
    [modal]="true" 
    styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Name</label>
                <input 
                    type="text" 
                    pInputText 
                    id="name" 
                    [(ngModel)]="employee.name" 
                    required 
                    autofocus />
                <small class="p-error" *ngIf="submitted && !employee.name">
                    Name is required.
                </small>
            </div>
            <div class="field">
                <label for="Salary">Salary</label>
                <input 
                    type="text" 
                    pInputText 
                    id="name" 
                    [(ngModel)]="employee.salary" 
                    required 
                    autofocus />
            <small class="p-error" *ngIf="submitted && !employee.salary">
                salary is required.
            </small>
            </div>

            <div class="field">
                <label for="Department">Department</label>
                <p-dropdown 
                    [(ngModel)]="department" 
                    inputId="department" 
                    [options]="departments"  optionLabel="name">
                </p-dropdown>
            </div>
            <div class="field">
                <label for="City">City</label>
                <p-dropdown 
                    [(ngModel)]="city" 
                    inputId="city" 
                    [options]="cities"  optionLabel="name">
                </p-dropdown>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <p-button 
                pRipple 
                label="Cancel" 
                icon="pi pi-times" 
                [text]="true" 
                (click)="hideDialog()" />
            <p-button 
                pRipple 
                label="Save" 
                icon="pi pi-check" 
                [text]="true" 
                (click)="saveEmployee()" />
        </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" />