<div class="flex-container">
<p-card header="My Profile" subheader="About me" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <div class="userprofile" *ngIf="user != null">
        <h2> {{user.name}}</h2>
        <p>Email : {{user.emailId}}</p>
        <p>Role : {{user.role}}</p>

    </div>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
           
        </div>
    </ng-template>
</p-card>
</div>